{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended"
    ],
    "rules": {
        "@wordpress/i18n-text-domain": [
            "error",
            {
                "allowedTextDomain": [
                    "innovator-ai"
                ]
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
